@model List<Category>
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="">Create New Category</i>
            </a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped ">
    <form class="d-flex" asp-action="Index" asp-controller="Category" method="get">
        <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search" value="@ViewData["GetCategoryDetail"]" />
        <button class="btn btn-dark" type="submit">Search by name</button>
    </form>
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td>
                    <a asp-action="Edit" asp-controller="Category" asp-route-id="@obj.Id">Edit</a>
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@obj.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>